
@keyframes spin {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotateZ(0deg); }
  to { -moz-transform: rotateZ(360deg); }
}

.spin {
  animation-delay: .8s;
  animation-duration: .3s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-animation-delay: .5s;
  -webkit-animation-duration: .3s;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-delay: .5s;
  -moz-animation-duration: .3s;
  -moz-animation-name: spin;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.magnifier {
  display: inline-block;
  position: relative;
  border-color: lightsteelblue;
}
  .magnifier::after {
    border: 4px solid;
    border-color: inherit;
    border-radius: 2px;
    bottom: -8px;
    box-sizing: border-box;
    content: ' ';
    display: block;
    height: 18px;
    position: absolute;
    right: -3px;
    transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    width: 8px;
  }
.magnifier-input {
  -webkit-appearance: none;
  border-radius: 50px;
  border: solid 5px;
  border-color: inherit;
  box-sizing: border-box;
  font-size: 16px;
  outline: 0;
  padding: 4px 10px;
  position: relative;
  transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;
  width: 36px;
}
  .magnifier-input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
  }
    .magnifier-input:focus::-webkit-input-placeholder {
      opacity: 1;
    }

